{
  "overrides": [
    {
      "files": ["*.html", "*.js", "*.json"],
      "options": {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 200,
        "trailingComma": "none"
      }
    }
  ]
}

